body{
  background-color: #232323;
  margin: 0;
  font-family: :"Montserrat","Avenir";
}
.square{
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
#container{
  max-width: 50%;
  margin: 1% auto;

}
h1{
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 1% 0;
}
#stripe{
  background-color: white;
  text-align: center;
  height: 4%;
  color: black;
}
.selected{
  background-color: steelblue;
  color: white;
}
#colorDisplay{
  font-size: 200%;
}
button{
  border: none;
  text-transform: uppercase;
  background-color: none;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.4s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}
#message{
  display: inline-block;
  width: 20%;
  font-weight: 800;
}
button:hover{
    color: white;
    background-color: steelblue;
}

.dropdown:hover .img-top {
  display: inline;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 99;
  border-radius: 15%;
  
}
.drop{
  color: white;
  text-align: end;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  
}
.row{
  max-width: 100%;
  text-align: center;
}
p{
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1020px){
  #container{
    max-width: 80%;
    margin: 4% auto;
  }
  
}